<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70934877475-4kgafv4brjc8ol41u7thr0r4pp43bdqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70934877475-4kgafv4brjc8ol41u7thr0r4pp43bdqo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>70934877475-370naf5ggm9nds5716rg5km1tl7idb6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1uTME78d9czq2LdN32au414k87D8R1T0</string>
	<key>GCM_SENDER_ID</key>
	<string>70934877475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zentyuc.app</string>
	<key>PROJECT_ID</key>
	<string>demandium-16b0f</string>
	<key>STORAGE_BUCKET</key>
	<string>demandium-16b0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70934877475:ios:6f0324a80f7e878a0e2896</string>
</dict>
</plist>